@@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#App {
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata';
}

.searchBar {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
}

label {
  color: white;
  font-size: 20px;
}

body {
  background: url(./pikachu-teemo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}