@@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#App {
  font-family: 'Inconsolata';
}

.searchBar {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

label {
  color: white;
  font-size: 20px;
}

body {
  background: url(./pikachu-teemo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}